<script>
    window.addEventListener('pageshow', () => {
        const selOpt = document.querySelector(`option[value="/bookmarks${location.search}"]`);
        if (selOpt !== null) selOpt.selected = true;
        else document.querySelector('option[value="/bookmarks?option=score_desc"]').selected = true;
    });
</script>

<p id="notice"><%= notice %></p>

<h2>ブックマーク一覧</h2>

<select name="select" onChange="location.href=value;">
	<option value="/bookmarks?option=score_desc">点数が高い順</option>
	<option value="/bookmarks?option=created_at_desc">作成日時が新しい順</option>
	<option value="/bookmarks?option=score_asc">点数が低い順</option>
	<option value="/bookmarks?option=created_at_asc">作成日時が古い順</option>
</select> 

<div class="grid">
  <% @bookmarks.each do |bookmark| %>
    <div class="item">
      <% if bookmark.image.present? %>
        <%= link_to image_tag(image_path(bookmark.image)), bookmark %>
      <% else %>
        <%= link_to image_tag('default.png'), bookmark %>
      <% end %>
      <p><%= link_to bookmark.title, bookmark %></p>
      <p><%= "#{bookmark.score} pts. / 100 pts." %></p>
    </div>
  <% end %>
</div>

<br>
<%= link_to "新しいブックマークを作成する", new_bookmark_path %>
