<p id="notice"><%= notice %></p>

<h1>ブックマーク一覧</h1>

<div class="grid">
  <% @bookmarks.each do |bookmark| %>
    <div class="item">
      <% if bookmark.image.present? %>
        <%= image_tag(image_path(bookmark.image)) %>
      <% end %>
      <p><%= link_to bookmark.title, bookmark %></p>
      <p><%= "#{bookmark.score} pts. / 100 pts." %></p>
    </div>
  <% end %>
</div>

<br>
<%= link_to "新しいブックマークを作成する", new_bookmark_path %>
