<p id="notice"><%= notice %></p>

<h2><%= @bookmark.title %></h2>


<% if @bookmark.image.present? %>
<p>
  <%= image_tag(image_path(@bookmark.image), height: '200px') %>
</p>
<% end %>

<h3>点数</h3>
<p>
  <%= "#{@bookmark.score} pts. / 100 pts." %>
</p>

<h3>メモ</h3>
<p>
<% if @bookmark.memo.empty? %>
    メモが入力されていません
  <% else %>
  <%= raw Rinku.auto_link(@bookmark.memo, :all, 'target="_blank"') %>
  <% end %>
</p>

<%= link_to 'ブックマークを修正する', edit_bookmark_path(@bookmark) %> |
<%= link_to 'ブックマークを削除する', @bookmark, method: :delete, data: {confirm: '削除しますか？'} %> |
<%= link_to '一覧に戻る', bookmarks_path %>
