<!DOCTYPE html>
<html>
  <head>
    <title>Cookbookmark</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to("CookBookmark", root_url, {class: "navbar-brand"}) %></h1>
      <nav>
        <ul>
          <li><%= link_to "ブックマーク一覧", bookmarks_path %></li>
          <li><%= link_to "新しいブックマークを作成する", new_bookmark_path %></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
